body {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  background-color: whitesmoke;
  min-height: 4500px;
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-family: "Great Vibes", cursive;
}
#hero {
  height: 110vh;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(images/Gallery/9c3abec2e62308f6f3ad9b11b45967e0bdf1b053.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#hero main {
  padding-block: 8rem;
  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 4.5rem;
  }
}

#hero img {
  position: absolute;
  width: 100%;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}

#hero button {
  background-color: peru;
  color: white;
}
#hero button:hover {
  background-color: rgb(255, 255, 255);
  color: peru;
}

#date {
  width: 100%;
  height: 100vh;
}

#date .content .content-img {
  width: 100%;
  height: 100%;
}

#date .content .opa {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

#date .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#date .content .text h1 {
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
}

#date .content .text p {
  font-size: 1rem;
}

#date .content .text h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}

#date .content .text h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

#profile {
  h3 {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
  }
  p {
    font-style: italic;
  }
  h6 {
    font-weight: 400;
    min-width: 50%;
  }
}

#profile .box {
  height: 450px;
  h2 {
    font-family: "Great Vibes", cursive;
  }
}

#acara {
  background: url(images/Gallery/08e54297292c85bd3e06ce9b50119d24f50a2331.jpeg);
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  filter: brightness(0.7);
  position: relative;

  /* .card {
    
  } */

  .card {
    height: 325px;
    width: 370px;
    position: relative;
    h5 {
      font-family: "Great Vibes", cursive;
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    a {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      list-style: none;
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: peru;
      color: white;
      border-radius: 0.5rem;
    }
  }
}
#galeri {
  h3 {
    font-family: "Great Vibes", cursive;
  }
}

#galeri .col {
  height: 225px;
  .enam {
    object-position: left;
  }
}
.media-player {
  cursor: pointer;

  transition: all 0.3s ease;
}

.media-player:hover img {
  transform: scale(1.1);
}

#Reservasi {
  background-color: #8f5d2c;
}

.bg-brown {
  background-color: #8f5d2c;
}

.commento-root .commento-submit-button {
  background-color: white;
}

.commento-root .commento-login .commento-login-text {
  color: white;
}

.commento-root a {
  color: white;
}

.commento-root
  .commento-sort-policy-buttons-container
  .commento-sort-policy-buttons
  .commento-sort-policy-button {
  color: #fffff;
  font-size: 13px;
  padding: 0 7px;
}

.commento-root .commento-footer {
  display: none;
}
.commento-root .commento-markdown-button {
  display: none;
}
#commento-comments-area {
  height: 50vh;
  overflow-y: auto;
}

.send {
  background: #8f5d2c;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 990px) {
  #acara {
    height: 80vh;
  }
}
